.header {
  background-color: #004c84;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  display: inline;
  padding: 10px;
  list-style: none;
  font-size: 20px;
  margin-top: 30px;
}

a {
  color: white;
  text-decoration: none;
 }

a:hover {
  color: #f2f2f2; }

.logo {
  width: 100px;
  height: 100px;
}

